<html>
<title>Rate </title>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<script>function goBack() {window.history.back();}</script>
<body>

	<div class="w3-container w3-teal">
		<h2>Rate</h2>
		<a href="/logout">Logout</a>
		<a href="/">Home</a>
	</div>
<button onclick="goBack()">Go Back</button>
<p>
<form class="w3-container" acton="/rate" method="post">
  <input type="hidden" name="_id" value="<%=res._id%>">
  <label>Score (1-10):</label>
  <input class="w3-input" type="number" name="score" min=1 max=10 required>
  <input type="submit" value="Rate"/>
</form>
</body>
<footer>
<hr/>
Owned by Ho Kin Fai & Wong Chun Fai
</footer>
</html>
